<div class="container-fluid">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ cliente.id ? 'Edição' : 'Cadastro'}} Clientes</h1>
    
</div>


    <form #clientForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" *ngIf="success">
                    Cliente {{ cliente.name }} salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>

        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" class="form-control" disabled [ngModel]="cliente.id" name="id">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro</label>
                    <input type="text" class="form-control" disabled [ngModel]="cliente.createdDate" name="dataCadastro">
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.name" name="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
                    <i class="fas fa-sync-alt"></i> Atualizar
                </button>
            </div>
            
            <div class="col-md-1">
                <a class="btn btn-warning" routerLink="/clientes/lista">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                    Voltar
                </a>
            </div>
        </div>
    </form>
</div>